<template>
	<div id="app">
		<router-link to="/about">
			O
		</router-link>
		<router-view />
	</div>
</template>
<script lang="ts">
export default{
	name: "App",
	data(){
		return{
			name: "Muaghahaa"
		}
	}
}
</script>
<style lang="scss">
:root{
	font-family: sans-serif;
}
</style>